{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список заказов</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <h1>Список заказов</h1>
    <a href="{% url 'add_order' %}" class="button">Добавить заказ</a>
    <a href="{% url 'calculate_revenue' %}" class="button">Рассчитать выручку</a>
    <div class="filters-container">
        <form method="get" action="{% url 'order_list' %}">
            <input type="text" name="query" placeholder="Поиск по номеру стола" value="{{ request.GET.query }}">
            <button type="submit">Найти</button>
        </form>
        <form method="get" action="{% url 'order_list' %}">
            <select name="status">
                <option value="">Все статусы</option>
                {% for value, label in status_choices %}
                    <option value="{{ value }}" {% if request.GET.status == value %}selected{% endif %}>{{ label }}</option>
                {% endfor %}
            </select>
            <button type="submit">Фильтровать</button>
        </form>
    </div>
    <table>
        <tr>
            <th>ID</th>
            <th>Номер стола</th>
            <th>Блюда</th>
            <th>Общая стоимость</th>
            <th>Статус</th>
            <th>Дата создания</th>
            <th>Дата выполнения</th>
            <th>Действия</th>
        </tr>
        {% for order in orders %}
        <tr>
            <td>{{ order.id }}</td>
            <td>{{ order.table_number }}</td>
            <td>
                <ul>
                    {% for item in order.items %}
                    <li>{{ item.name }} - {{ item.price }}</li>
                    {% endfor %}
                </ul>
            </td>
            <td>{{ order.total_price }}</td>
            <td>{{ order.get_status_display }}</td>
            <td>{{ order.created_at|date:"d.m.Y H:i" }}</td>
            <td>{{ order.completed_at|date:"d.m.Y H:i"|default:"-" }}</td>
            <td>
                <a href="{% url 'edit_order' order.id %}">Изменить</a>
                <a href="{% url 'delete_order' order.id %}">Удалить</a>
            </td>
        </tr>
        {% endfor %}
    </table>

</body>
</html>